@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title__xl {
    @apply relative sm:text-4xl text-2xl leading-5 tracking-wide font-bold text-center mt-6;
  }

  .title__lg {
    @apply relative sm:text-3xl text-xl leading-5 tracking-wide font-bold;
  }

  .title__md {
    @apply relative sm:text-2xl text-lg leading-5 tracking-wide font-bold;
  }

  .title__sm {
    @apply relative text-sm sm:text-base leading-5 tracking-wide font-bold;
  }

  .para {
    @apply text-sm text-primary leading-5 tracking-wide font-semibold;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: top;
  text-decoration: none;
  box-sizing: border-box;
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
  font-weight: 400;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
  scroll-padding-top: 100px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overscroll-behavior: none;
  line-height: 1.4;
  color: #303030;
}

hr {
  width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 400ms ease;
}

fieldset,
input,
legend,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  box-sizing: border-box;
  &:focus {
    outline: none;
    color: var(--light-color);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--light-color);
  transition: background-color 5000s ease-in-out 0s;
}

.input-phone-number input:focus {
  outline: none !important;
  border: 1px solid #23b798 !important;
  box-shadow: none !important;
}
.PhoneInputCountrySelect:focus {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
